@charset "UTF-8";
/**************************************/
*,
::before,
::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol,
li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

button {
  background-color: transparent;
  border-style: none;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

html {
  /*overflow:auto;*/
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

body {
  overflow-x: clip;
  font-size: 1.6rem;
  color: #000;
  background: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: normal;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 2;
  width: 100%;
  letter-spacing: 0.2px;
}
@media (max-width: 834px) {
  body {
    font-size: 1.4rem;
  }
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
}

a:hover {
  text-decoration: none;
}

a:active,
a:hover {
  outline-width: 0;
}

/* -------------------------
 * フォント
 * ------------------------- */
.ff-noto {
  font-family: "Noto Sans JP", sans-serif;
}

.ff-inter {
  font-family: "Inter", sans-serif;
}

.ff-kalnia {
  font-family: "Kalnia", serif;
  font-weight: 300;
}

.fwn {
  font-weight: normal;
}

.fwm {
  font-weight: 500;
}

.fwb {
  font-weight: bold;
}

.fwsb {
  font-weight: 600;
}

/* -------------------------
 * フォントサイズのroot
 * ------------------------- */
:root {
  --f10: clamp(0.8rem, 1vw, 1rem);
  --f11: clamp(0.9rem, 1.1vw, 1.1rem);
  --f12: clamp(1rem, 1.2vw, 1.2rem);
  --f13: clamp(1rem, 1.3vw, 1.3rem);
  --f14: clamp(1.1rem, 1.4vw, 1.4rem);
  --f15: clamp(1.2rem, 1.5vw, 1.5rem);
  --f16: clamp(1.3rem, 1.6vw, 1.6rem);
  --f17: clamp(1.4rem, 1.7vw, 1.7rem);
  --f18: clamp(1.4rem, 1.8vw, 1.8rem);
  --f19: clamp(1.5rem, 1.9vw, 1.9rem);
  --f20: clamp(1.6rem, 2vw, 2rem);
  --f21: clamp(1.7rem, 2.1vw, 2.1rem);
  --f22: clamp(1.8rem, 2.2vw, 2.2rem);
  --f23: clamp(1.8rem, 2.3vw, 2.3rem);
  --f24: clamp(1.9rem, 2.4vw, 2.4rem);
  --f25: clamp(2rem, 2.5vw, 2.5rem);
  --f26: clamp(2.1rem, 2.6vw, 2.6rem);
  --f27: clamp(2.2rem, 2.7vw, 2.7rem);
  --f28: clamp(2.2rem, 2.8vw, 2.8rem);
  --f29: clamp(2.3rem, 2.9vw, 2.9rem);
  --f30: clamp(2.4rem, 3vw, 3rem);
  --f31: clamp(2.5rem, 3.1vw, 3.1rem);
  --f32: clamp(2.6rem, 3.2vw, 3.2rem);
  --f33: clamp(2.6rem, 3.3vw, 3.3rem);
  --f34: clamp(2.7rem, 3.4vw, 3.4rem);
  --f35: clamp(2.8rem, 3.5vw, 3.5rem);
  --f36: clamp(2.9rem, 3.6vw, 3.6rem);
  --f37: clamp(3rem, 3.7vw, 3.7rem);
  --f38: clamp(3rem, 3.8vw, 3.8rem);
  --f39: clamp(3.1rem, 3.9vw, 3.9rem);
  --f40: clamp(3.2rem, 4vw, 4rem);
  --f41: clamp(3.3rem, 4.1vw, 4.1rem);
  --f42: clamp(3.4rem, 4.2vw, 4.2rem);
  --f43: clamp(3.4rem, 4.3vw, 4.3rem);
  --f44: clamp(3.5rem, 4.4vw, 4.4rem);
  --f45: clamp(3.6rem, 4.5vw, 4.5rem);
  --f46: clamp(3.7rem, 4.6vw, 4.6rem);
  --f47: clamp(3.8rem, 4.7vw, 4.7rem);
  --f48: clamp(3.8rem, 4.8vw, 4.8rem);
  --f49: clamp(3.9rem, 4.9vw, 4.9rem);
  --f50: clamp(4rem, 5vw, 5rem);
  --f51: clamp(4.1rem, 5.1vw, 5.1rem);
  --f52: clamp(4.2rem, 5.2vw, 5.2rem);
  --f53: clamp(4.2rem, 5.3vw, 5.3rem);
  --f54: clamp(4.3rem, 5.4vw, 5.4rem);
  --f55: clamp(4.4rem, 5.5vw, 5.5rem);
  --f56: clamp(4.5rem, 5.6vw, 5.6rem);
  --f57: clamp(4.6rem, 5.7vw, 5.7rem);
  --f58: clamp(4.6rem, 5.8vw, 5.8rem);
  --f59: clamp(4.7rem, 5.9vw, 5.9rem);
  --f60: clamp(4.8rem, 6vw, 6rem);
  --f80: clamp(6.4rem, 7.6vw, 8rem);
  --f120: clamp(9.6rem, 11.4vw, 12rem);
}

/* -------------------------
 * フォントサイズの自動生成
 * ------------------------- */
.f10 {
  font-size: var(--f10);
}

.f11 {
  font-size: var(--f11);
}

.f12 {
  font-size: var(--f12);
}

.f13 {
  font-size: var(--f13);
}

.f14 {
  font-size: var(--f14);
}

.f15 {
  font-size: var(--f15);
}

.f16 {
  font-size: var(--f16);
}

.f17 {
  font-size: var(--f17);
}

.f18 {
  font-size: var(--f18);
}

.f19 {
  font-size: var(--f19);
}

.f20 {
  font-size: var(--f20);
}

.f21 {
  font-size: var(--f21);
}

.f22 {
  font-size: var(--f22);
}

.f23 {
  font-size: var(--f23);
}

.f24 {
  font-size: var(--f24);
}

.f25 {
  font-size: var(--f25);
}

.f26 {
  font-size: var(--f26);
}

.f27 {
  font-size: var(--f27);
}

.f28 {
  font-size: var(--f28);
}

.f29 {
  font-size: var(--f29);
}

.f30 {
  font-size: var(--f30);
}

.f31 {
  font-size: var(--f31);
}

.f32 {
  font-size: var(--f32);
}

.f33 {
  font-size: var(--f33);
}

.f34 {
  font-size: var(--f34);
}

.f35 {
  font-size: var(--f35);
}

.f36 {
  font-size: var(--f36);
}

.f37 {
  font-size: var(--f37);
}

.f38 {
  font-size: var(--f38);
}

.f39 {
  font-size: var(--f39);
}

.f40 {
  font-size: var(--f40);
}

.f41 {
  font-size: var(--f41);
}

.f42 {
  font-size: var(--f42);
}

.f43 {
  font-size: var(--f43);
}

.f44 {
  font-size: var(--f44);
}

.f45 {
  font-size: var(--f45);
}

.f46 {
  font-size: var(--f46);
}

.f47 {
  font-size: var(--f47);
}

.f48 {
  font-size: var(--f48);
}

.f49 {
  font-size: var(--f49);
}

.f50 {
  font-size: var(--f50);
}

.f51 {
  font-size: var(--f51);
}

.f52 {
  font-size: var(--f52);
}

.f53 {
  font-size: var(--f53);
}

.f54 {
  font-size: var(--f54);
}

.f55 {
  font-size: var(--f55);
}

.f56 {
  font-size: var(--f56);
}

.f57 {
  font-size: var(--f57);
}

.f58 {
  font-size: var(--f58);
}

.f59 {
  font-size: var(--f59);
}

.f60 {
  font-size: var(--f60);
}

.f80 {
  font-size: var(--f80);
}

.f120 {
  font-size: var(--f120);
}

/* -------------------------
 * インナー幅、余白
 * ------------------------- */
.inner {
  max-width: 1350px;
  width: 90%;
  margin: 0 auto;
}

.inner--1100 {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

.inner--1350 {
  max-width: 1350px;
  width: 90%;
  margin: 0 auto;
}

.inner--1600 {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 834px) {
  .sec {
    padding-block: 5rem !important;
  }
}

/* -------------------------
 * 改行
 * ------------------------- */
.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.br-499 {
  display: none;
}
@media (max-width: 499px) {
  .br-499 {
    display: block;
  }
}

.no-br-499 {
  display: block;
}
@media (max-width: 499px) {
  .no-br-499 {
    display: none;
  }
}

.br-834 {
  display: none;
}
@media (max-width: 834px) {
  .br-834 {
    display: block;
  }
}

.no-br-834 {
  display: block;
}
@media (max-width: 834px) {
  .no-br-834 {
    display: none;
  }
}

/* -------------------------
 * 見出し
 * ------------------------- */
.sec__ttl-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.sec__ttl-wrap--left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sec__ttl-wrap--center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* -------------------------
 * ボタン、リンク
 * ------------------------- */
/*  ボタン共通 */
.base-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.3rem 1.6rem 0.3rem 2rem;
  min-width: 14.6rem;
  border-radius: calc(infinity * 1px);
  border: solid 1px #312c2c;
  background: red;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  font-size: var(--fz16);
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.08, 0.355, 0.11, 1);
  transition: all 0.4s cubic-bezier(0.08, 0.355, 0.11, 1);
  /*はみ出る要素を隠す*/
  overflow: hidden;
  height: 3.9rem;
}
.base-btn:hover .txt {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

/* -------------------------
 * グローバルナビ
 * ------------------------- */
.page-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  mix-blend-mode: difference;
  color: #fff;
}

.page__nav {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  isolation: isolate;
}

.page-nav__item {
  mix-blend-mode: difference;
}

.page-nav__item-link {
  position: relative;
}
.page-nav__item-link:hover {
  opacity: 1;
}
.page-nav__item-link.link--slide-text .txt--slide {
  height: 1.9rem;
  line-height: 1.3;
}
@media (max-width: 834px) {
  .page-nav__item-link.link--slide-text .txt--slide {
    line-height: 1.4;
  }
}

/* -------------------------
 * ヘッダー
 * ------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 2rem;
}

.header-logo {
  width: 200px;
  height: auto;
  display: block;
}

.header-logo__img {
  width: 100%;
  height: auto;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

@media (max-width: 834px) {
  .header__nav {
    display: none;
  }
}

/* -------------------------
 * ハンバーガーボタン
 * ------------------------- */
.open-btn {
  position: relative;
  cursor: pointer;
  width: 44px;
  height: 12px;
  cursor: pointer;
  position: fixed;
  top: 2.1rem;
  right: 2.6rem;
  z-index: 99999;
  display: none;
}
@media (max-width: 834px) {
  .open-btn {
    display: block;
  }
}
.open-btn span {
  display: inline-block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: absolute;
  left: 0px;
  height: 1px;
  background: #fff;
  width: 100%;
}
.open-btn span:nth-of-type(1) {
  top: 0px;
}
.open-btn span:nth-of-type(2) {
  top: 6px;
}
.open-btn span:nth-of-type(3) {
  top: 12px;
}

/*ハンバーガーボタンクリック時*/
.open-btn.active span:nth-of-type(1) {
  -webkit-transform: translateY(6px) rotate(-20deg);
          transform: translateY(6px) rotate(-20deg);
}
.open-btn.active span:nth-of-type(2) {
  opacity: 0;
}
.open-btn.active span:nth-of-type(3) {
  -webkit-transform: translateY(-6px) rotate(20deg);
          transform: translateY(-6px) rotate(20deg);
}

/* -------------------------
 * SPナビメニュー
 * ------------------------- */
@media (max-width: 834px) {
  .header .page__nav {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    height: 100dvh;
    width: 100%;
    background: transparent;
    z-index: -1;
    -webkit-transition: opacity 0.4s ease, visibility 0.4s ease, background-color 0.4s ease, z-index 0s 0.4s;
    transition: opacity 0.4s ease, visibility 0.4s ease, background-color 0.4s ease, z-index 0s 0.4s;
    margin: 0;
    padding: 15rem 2rem 2rem;
    overflow-y: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-weight: 300;
  }
  .header .page__nav .page-nav__item {
    font-size: 2rem;
  }
  .header .page__nav .page-nav__list {
    gap: 1rem;
  }
  .header .page__nav .page-nav__item-link.link--slide-text .txt--slide {
    height: 3rem;
    line-height: 1.3;
  }
}
@media (max-width: 834px) {
  .header .page__nav.active {
    opacity: 1;
    visibility: visible;
    background: #000;
    z-index: 99;
    -webkit-transition: opacity 0.4s ease, visibility 0.4s ease, background-color 0.4s ease, z-index 0s;
    transition: opacity 0.4s ease, visibility 0.4s ease, background-color 0.4s ease, z-index 0s;
  }
}

@media (max-width: 834px) {
  .header .page-nav__sp-logo {
    max-width: 20rem;
    width: 46%;
  }
}
@media (max-width: 834px) {
  .header .page-nav__sp-bottom {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

/* -------------------------
 * フッター
 * ------------------------- */
.footer {
  padding: 6.7rem 2.6rem 3.9rem;
  background-color: #202020;
  color: #fff;
  z-index: 10;
}
@media (max-width: 499px) {
  .footer {
    padding: 3rem 0rem;
  }
}

@media (max-width: 499px) {
  .footer__inner {
    width: 90%;
    margin: 0 auto;
  }
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 36.5rem;
}
@media (max-width: 499px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 8rem;
  }
}

.footer__logo {
  width: 22.8rem;
  -webkit-transition: opacity ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s;
}
.footer__logo:hover {
  opacity: 0.7;
}
@media (max-width: 499px) {
  .footer__logo {
    margin-bottom: 3rem;
    width: 18rem;
  }
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* -------------------------
 * 下層
 * ------------------------- */
body.under {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  min-height: 100vh;
  margin-top: 30rem;
}
@media (max-width: 834px) {
  body.under {
    margin-top: 15rem;
  }
}

.under-main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-block: 6rem 12rem;
}
@media (max-width: 834px) {
  .under-main {
    padding-bottom: 3rem 6rem;
  }
}

/* ページ見出し *//*# sourceMappingURL=style.css.map */